<section>
  <table>
    <tr>
      <td>
        <span class="custom">new-task works!</span>
        <button class="btn btn-warning" routerLink="/rightBox">newTask</button>
      </td>
      <td>
        <span>测试问题</span>
      </td>
      <td>
        <button (click)="getData('http://127.0.0.1:8081/api/colla/process/10000000400617')">测试http</button>
        <button (click)="postData('http://127.0.0.1:8081/api/login')">测试37</button>
      </td>
    </tr>
  </table>
<!--
  <input ghaoInput name="data.fgsfksq20171010.sqr" permission="fgsfksq20171010.sqr" (ngModel)="data.fgsfksq20171010.sqr" init-model="data.fgsfksq20171010.initData.sqr" validate="{'required':true}" />
-->
  <form-content
               [content]="content" [data]="this.data">
  </form-content>
  <br><br><br>

  <br><br><br>
  <router-outlet></router-outlet>
</section>
